<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bhotiana.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Bhotiana.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>bhotianaa_</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>64ex576fxj2si4bxy239j3yq4jrj27</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>l8h8cvom7ne5gqoraf5kbggre15oc6</value>
            </setting>
            <setting name="WebHookURL" serializeAs="String">
                <value>https://discord.com/api/webhooks/1223255129902415983/3CiU5O4JgqQ3vV0PJ8UUMOgDiu-QWd17g1Wk7AzP_-HCLU49xs1-bg3iDF1xWmCD3ns1</value>
            </setting>
        </Bhotiana.Properties.Settings>
    </userSettings>
</configuration>